.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
  color: var(--font-color);
}

.button:hover,
.button:focus,
.button:focus-within {
  background-color: var(--opaque-gray-color);
}

.button:active {
  background-color: var(--active-color);
  transition: background-color 0.1s ease-in-out;
}

.button svg {
  width: 24px;
  height: 24px;
}

.svg-container {
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button span {
  display: flex;
  align-items: center;
  justify-content: center;
}
