.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
  color: var(--font-color);
}

.button:hover {
  background-color: var(--opaque-gray-color);
}

.button svg {
  width: 24px;
  height: 24px;
}

.button span {
  display: flex;
  align-items: center;
  justify-content: center;
}
