.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;


  & img {
    height: 50px;
  }

  & section {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  & select {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #cccccc7b;
  }
}
