.notes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.notes-toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.notes-grid {
  width: 100%;
}

@media (max-width: 820px) {
  .notes-grid {
    grid-template-columns: 1fr !important;
  }
}
