@font-face {
  font-family: "ShareTechMono";
  src: url("../fonts/ShareTechMono-Regular.ttf");
}

:root {
  font-family: Inter, Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-color: rgba(255, 255, 255, 0.87);
  --font-color-secondary: rgba(255, 255, 255, 0.5);
  --bg-color: #09090d;
  --danger-color: #f45c5c;
  --success-color: #7cff7c;
  --bg-color-secondary: #1b1b33;
  --warning-color: #ffc107;

  --active-color: #be90ff;
  --opaque-gray-color: rgba(145, 145, 145, 0.303);

  --extension-width: 500px;
  --extension-height: 600px;

  color-scheme: light dark;
  color: var(--font-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--active-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--active-color);
}

body {
  width: fit-content;
  height: fit-content;
}

/* React entry point */
#root {
  width: var(--extension-width);
  height: var(--extension-height);
  scrollbar-width: none;
  overflow-y: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.absolute-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-full {
  width: 100%;
  height: 100%;
}

.pos-absolute {
  position: absolute;
}

.bg-default {
  background-color: var(--bg-color);
}

.bg-gradient {
  background: linear-gradient(
    135deg,
    var(--bg-color) 0%,
    var(--bg-color-secondary) 100%
  );
}

.font-mono {
  font-family: "ShareTechMono";
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-10 {
  gap: 10px;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.w-100 {
  width: 100% !important;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(132, 131, 131, 0.517);
  color: var(--font-color);
}

.input:focus {
  outline: none;
}
.bg-transparent {
  background-color: transparent;
}

.text-left {
  text-align: left;
}

.rounded {
  border-radius: 5px;
}

.rounded-10 {
  border-radius: 10px;
}

.bg-danger {
  background-color: var(--danger-color) !important;
}

.success-on-hover:hover,
.success-on-hover:active,
.success-on-hover:focus {
  background-color: var(--success-color) !important;
  color: var(--bg-color) !important;
  box-shadow: 0 0 10px var(--success-color) !important;
}

.active-on-hover:hover,
.active-on-hover:active,
.active-on-hover:focus {
  transition: all 0.15s ease-in-out;
  background-color: var(--active-color) !important;
  color: var(--font-color) !important;
  box-shadow: 0 0 10px var(--bg-color) !important;
  scale: 1.015;

  & svg.with-stroke {
    & path {
      stroke: var(--font-color) !important;
    }
    & circle {
      stroke: var(--font-color) !important;
    }
  }
  /* & svg.with-fill {
    & path {
      fill: var(--font-color) !important;
    }
  }
  & svg.with-svg-fill {
    fill: var(--bg-color) !important;
  } */
}

.border-gray {
  border: 1px solid var(--opaque-gray-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}

.bg-warning {
  background-color: var(--warning-color) !important;
}

.markdown-container {
  & p:not(:first-child) {
    margin-block: 10px;
  }

  & hr {
    margin-block: 10px;
    border-radius: 5px;
    opacity: 0.3;
    border: 1px solid var(--active-color);
  }

  & h1 {
    margin-block: 10px;
  }

  & h2 {
    margin-block: 5px;
  }

  & h3,
  & h4,
  & h5,
  & h6 {
    margin-block: 3px;
  }

  & pre {
    background-color: rgba(161, 161, 161, 0.167);
    width: min(fit-content, 100%);
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin-block: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--active-color) var(--bg-color);
    font-family: monospace;
  }

  & blockquote {
    background-color: var(--opaque-gray-color);
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--active-color) var(--bg-color);
    border-left: 1px solid var(--active-color);
    font-style: italic;
  }

  & ul,
  & ol {
    margin-left: 20px;
    padding-left: 20px;
  }

  & li {
    list-style-position: outside;

    &::marker {
      color: var(--active-color);
    }

    & ul,
    & ol {
      margin-left: 20px;
      padding-left: 20px;
    }
  }

  & table {
    width: 100%;
    border-collapse: collapse;
    margin-block: 10px;
  }

  & th,
  & td {
    border: 1px solid var(--font-color-secondary);
    padding: 8px;
    text-align: left;
  }

  & th {
    background-color: var(--bg-color-secondary);
    /* color: var(--active-color); */
  }

  & code {
    background-color: rgba(161, 161, 161, 0.167);
    padding: 2px 5px;
    border-radius: 3px;
    font-family: monospace;
  }

  & a {
    color: var(--active-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
.font-big {
  font-size: 1.5rem;
}

.labeled-textarea {
  position: relative;
  border: 1px solid var(--opaque-gray-color);
  border-radius: 5px;
  padding: 5px;

  &:focus-within {
    border-color: var(--active-color);
    outline: none;

    & label {
      color: var(--active-color);
      opacity: 1;
    }
  }

  & textarea {
    border: none;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    height: 100%;
    overflow-y: auto;
    color: var(--font-color);
    &:focus {
      outline: none;
    }
  }

  & label {
    font-size: 0.8rem;
    color: var(--font-color);
    position: absolute;
    opacity: 0.6;
    top: -10px;
    left: 5px;
    background-color: var(--bg-color);
    padding: 0 5px;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
  }
}

.box-20 {
  width: 20px;
  height: 20px;
}

.color-preview {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.pointer {
  cursor: pointer;
}

.labeled-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid var(--opaque-gray-color);
  padding: 10px;
  border-radius: 5px;
  position: relative;

  & label {
    font-size: 0.8rem;
    color: var(--font-color-secondary);
    position: absolute;
    /* opacity: 0.6; */
    /* display: none; */
    top: -10px;
    left: 5px;
    background-color: var(--bg-color);
    padding: 0 5px;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
  }

  & input {
    padding: 5px;
    background-color: transparent;
    border: none;
    color: var(--font-color);
    outline: none;
  }

  & button {
    position: absolute;
    right: 5px;
    top: -10px;
    background-color: var(--bg-color);
    border: none;
    color: var(--font-color);
    outline: none;
  }
}

.labeled-input:focus-within {
  border-color: var(--active-color);
  & label {
    color: var(--active-color);
    opacity: 1;

    /* display: block; */
  }
}

.w-10 {
  width: 10px;
}
.gap-5 {
  gap: 5px;
}

.w-30 {
  width: 30px;
}

.align-center {
  align-items: center;
}

.w-50 {
  width: 50px;
}

.botonera {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & button {
    width: 100%;
  }
}

.hover-effect-one:hover {
  background-color: var(--active-color);
  color: var(--bg-color);
}

.bg-active {
  background-color: var(--active-color) !important;
  color: var(--bg-color) !important;
}

.bg-gray {
  background-color: var(--opaque-gray-color) !important;
}
.wrap {
  flex-wrap: wrap;
}

.overflow-y-auto {
  overflow-y: auto;
}

.section-content {
  overflow-y: auto;
  height: 88%;
  scrollbar-width: none;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.fit-content {
  width: fit-content;
}

.font-size-20 {
  font-size: 20px;
}

.border-none {
  border: none;
}

.text-mini {
  font-size: 12px;
}

.justify-end {
  justify-content: flex-end;
}

.separator {
  border: 1px solid rgba(41, 41, 41, 0.253);
  margin-block: 10px;
}

.grid {
  display: grid;
}

.grid-cols-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gap-4 {
  gap: 4px;
}
.hidden {
  display: none;
}

.ball-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.color-gray {
  color: var(--opaque-gray-color);
}

.day-cell {
  height: 70px;
}

.color-normal {
  color: var(--font-color);
}

.font-bold {
  font-weight: bold;
}
.transparent {
  background-color: transparent;
}
.checkbox {
  width: 20px;
  height: 20px;
  accent-color: var(--active-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  border: 1px solid var(--opaque-gray-color);
}

.contrast-on-hover:hover {
  mix-blend-mode: hard-light;
}

.contrast-on-hover:active {
  background-color: #a0a0a049;
}

.float-right {
  position: absolute;
  right: 0;
  top: 0;
}

.prompter-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 80vh;
  overflow-y: auto;
  padding: 10px;
  z-index: 1000;
  border: 1px solid var(--bg-color-secondary);
  border-radius: 5px;
}

.h-100 {
  height: 100%;
}

.above {
  z-index: 1000;
}
.share-tech-mono {
  font-family: "ShareTechMono";
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.tag {
  background-color: var(--bg-color-secondary);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  &.active {
    background-color: var(--active-color);
  }
}

.scale-on-hover {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.snaptie-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pos-relative {
  position: relative;
}

.border-active {
  border: 1px solid var(--active-color);
}
.blockquote {
  background-color: var(--opaque-gray-color);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--active-color) var(--bg-color);
  border-left: 1px solid var(--active-color);
  font-style: italic;
}

.svg {
  width: 20px;
  height: 20px;
}
