:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-color: rgba(255, 255, 255, 0.87);
  --bg-color: #09090d;
  --danger-color: #f45c5c;
  --success-color: #7cff7c;

  --active-color: #83fdff;
  --opaque-gray-color: rgba(132, 131, 131, 0.517);

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: fit-content;
  height: fit-content;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.absolute-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-full {
  width: 100%;
  height: 100%;
}

.pos-absolute {
  position: absolute;
}

.bg-default {
  background-color: var(--bg-color);
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-10 {
  gap: 10px;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.w-100 {
  width: 100% !important;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(132, 131, 131, 0.517);
  color: var(--font-color);
}

.input:focus {
  outline: none;
}
.bg-transparent {
  background-color: transparent;
}

.text-left {
  text-align: left;
}

.rounded {
  border-radius: 5px;
}

.bg-danger {
  background-color: var(--danger-color) !important;
}

.success-on-hover:hover,
.success-on-hover:active,
.success-on-hover:focus {
  background-color: var(--success-color) !important;
  color: var(--bg-color) !important;
  box-shadow: 0 0 10px var(--success-color) !important;
}

.active-on-hover:hover,
.active-on-hover:active,
.active-on-hover:focus {
  background-color: var(--active-color) !important;
  color: var(--bg-color) !important;
  box-shadow: 0 0 10px var(--active-color) !important;

  & svg.with-stroke {
    & path {
      stroke: var(--bg-color) !important;
    }
  }
  & svg.with-fill {
    & path {
      fill: var(--bg-color) !important;
    }
  }
  & svg.with-svg-fill {
    fill: var(--bg-color) !important;
  }
}

.border-gray {
  border: 1px solid var(--opaque-gray-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}
